*{
    margin: 0;
    padding: 0;
}
body{
    
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    /* height: 100px; */
    padding-left: 150px;
    padding-right: 150px;
}
.links >ul{
    display: flex;
    justify-content: flex-end;
}
li{
    list-style: none;
    padding: 12px;
}
li>a{
    text-decoration: none;
    color: white;
}
.logo{
    align-self: center;
    font-size: larger;
}
.hero{
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
}
.content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 50%;
    /* flex-wrap: wrap; */
    padding: 30px;
    flex: auto;
}
.hero{
    background-color: #1f2937;
    color: white;
    flex-wrap: wrap;
    flex: 1;
    gap:80px;
}
.content p{
    height: min-content;
    flex-grow: 0;
    padding: 0;    
}
.hero>img{
    width: 300px;
    padding: 20px;
}
.pieces{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 150px;
}
.combinations>p{
    text-align: center;
}
.combinations>img{
    width: 200px;
    border-radius: 18px;
}
button{
    width: 100px;
    padding: 3px;
    margin-top: 8px;
    background-color: #3882F6;
    color: white;
    border-color: #3882F6;
    border-radius: 8px;
}
.combinations{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 0;
}
.hero h1{
    text-align: center;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    padding: 50px;
    margin-top: 50px;
   
}
.quote>p{
    padding: 100px 150px;
}
.action{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    background-color:#3882F6;
    color: white ;
    margin: 60px 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 15px;
    
}
.action button{
    border-color: white;
}
.footer{
    background-color: #1f2937;
    text-align: center;
    color: white;
    padding: 40px;
}
.contents{
    margin-top: 40px;

}
.contents h1{
    text-align: center;
    margin-bottom: 20px;
}